.subscribe {
  background-color: rgb(214, 14, 14);
  border: none;
  height: 36px;
  width: 105px;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  margin: 10px;
  transition: opacity 0.15s;
}
.subscribe:hover {
  opacity: 0.7;
}

.join {
  width: 60px;
  color: dodgerblue;
  background-color: white;
  border-color: dodgerblue;
  border-style: solid;
  height: 36px;
  width: 65px;
  border-width: 1px;
  border-radius: 2px;
  cursor: pointer;
  margin: 10px;

  transition: background-color 0.25s, color 0.25s;
}
.join:hover {
  background-color: dodgerblue;
  color: white;
}

.tweet {
  background-color: dodgerblue;
  border: none;
  border-radius: 10px;
  height: 36px;
  width: 75px;
  color: white;
  border-radius: 18px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.25s;
}
.tweet:hover {
  box-shadow: 0px 0px 10px lightgray;
}
.cart {
  background-color: rgb(255, 216, 20);
  height: 36px;
  border: none;
  font-weight: bold;
  border-radius: 18px;
  width: 115px;
  cursor: pointer;
  margin: 10px;
}
.cart:hover {
  box-shadow: 0px 0px 10px lightgray;
}
.cart:active {
  background-color: rgb(233, 196, 12);
}
.singup {
  border: none;
  background-color: rgb(46, 164, 79);
  font-size: 18px;
  border-radius: 5px;
  height: 36px;
  width: 100px;
  color: white;
  cursor: pointer;
  margin: 10px;
}
.getstarted {
  border: none;
  background-color: rgb(121, 82, 179);
  font-size: 18px;
  border-radius: 5px;
  height: 36px;
  width: 112px;
  color: white;
  cursor: pointer;
  margin: 10px;
  transition: border-color 0.25s, border-color 0.25s, color 0.25s,
    border-color 0.25s;
}
.getstarted:hover {
  border-color: rgb(108, 117, 125);
  background-color: white;
  color: rgb(108, 117, 125);
  border-width: 1px;
  border-style: solid;
}
.download {
  border-color: rgb(108, 117, 125);
  background-color: white;
  font-size: 18px;
  border-radius: 5px;
  height: 36px;
  width: 112px;
  border-width: 1px;
  border-style: solid;
  color: rgb(108, 117, 125);
  cursor: pointer;
  margin: 10px;
  transition: border-color 0.25s, border-color 0.25s, color 0.25s,
    border-color 0.25s;
}
.download:hover {
  border: none;
  background-color: rgb(121, 82, 179);
  color: white;
}
