p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(96, 96, 96);
}
.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
  color: black;
}
.video-stats {
  font-size: 14px;
  margin-bottom: 20px;
}
.chennel-name {
  font-size: 14px;
  margin-bottom: 20px;
}
.video-discription {
  width: 280px;
  line-height: 22px;
  font-size: 14px;
  margin-bottom: 100px;
}
.shop {
  font-size: 14px;
  background-color: rgb(227, 65, 64);
  color: white;
  padding: 18px;
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
